/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex: 1;
}

/* Header Styles */
.header {
    background-color: #2C3E50;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Tambahkan margin bawah agar terpisah dari judul klinik */
}
.logo img {
    width: 100px;
    border-radius: 50%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .profile-link {
    display: flex;
    align-items: center;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navigation .profile-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navigation .profile-link .username {
    margin-right: 10px;
    font-weight: bold;
    color: #FFF;
}

.navigation .profile-link i {
    font-size: 24px;
    color: #FFD700;
}

.navigation .dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #2C3E50;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #FFD700;
}

/* Additional Styles for Profile Link Positioning */
.header .navigation {
    justify-content: flex-end;
    padding-right: 20px;
    flex-grow: 1;
}


/* Sidebar Styles */
/* Sidebar Styles */
.sidebar {
    background-color: #34495E;
    color: #fff;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Mengatur posisi elemen di tengah */
}
/* Tambahkan gaya untuk menu aktif */
.sidebar ul li.active {
    background-color: #2C3E50;
}

.sidebar ul li.active a {
    border-left: 3px solid #FFD700;
    padding-left: 9px; /* Sesuaikan padding kiri dengan lebar border */
}

.clinic-info h2 {
    color: #FFD700;
    font-size: 24px;
    margin-bottom: 0; /* Menghapus margin bawah default */
}

.user-info p {
    color: #ccc;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 10px;
    margin-top: 10px;
}

.sidebar ul li {
    margin-bottom: 8px;

}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    padding: 10px 0;
    font-size: 16px;
}
.sidebar ul li a i {
    margin-right: 10px; /* Atur jarak antara ikon dan teks */
}

.sidebar ul li a:hover {
    background-color: #2C3E50;
    border-left: 3px solid #fff;
    padding-left: 12px;
}

.contact-info {
    margin-top: auto;
    text-align: center;
}

.contact-info p {
    margin-bottom: 5px;
}
    /* Gaya untuk submenu */
    .submenu {
        display: none; /* Submenu defaultnya disembunyikan */
    }

    /* Menampilkan submenu saat "Kasir Pembayaran" diklik */
    .has-submenu:hover .submenu {
        display: block;
        margin-left:10px;
    }
    .submenu li a:hover {
        text-decoration: underline;
    }
    /* Gaya tanda panah untuk submenu */
    .has-submenu > a i {
        margin-left: 5px; /* Jarak antara teks dengan tanda panah */
    }
/* Content Styles */
.content {
    display: flex;
    flex-direction: row; /* Ubah arah tata letak ke horizontal */
    flex-wrap: wrap; /* Pastikan konten wrap secara responsif */
    justify-content: flex-start; /* Mulai konten dari sisi kiri */
    align-items: flex-start; /* Mulai konten dari sisi atas */
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    width: calc(100% - 20px);
    overflow-x: hidden;
}

/* Style for Doctor Cards */
.doctor-card {
    flex: 0 0 calc(33.33% - 20px); /* Atur lebar setiap card */
    margin: 10px; /* Tambahkan margin antara setiap card */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.doctor-card:hover {
    transform: translateY(-5px); /* Efek naik saat hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Bayangan yang lebih jelas saat hover */
}

.doctor-card h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.doctor-card p {
    color: #666;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Styles for Subtitle */
.subtitle {
    font-size: 18px;
    color: #555; /* Ubah warna teks subjudul sesuai preferensi Anda */
    margin-bottom: 15px; /* Tambahkan ruang antara subjudul dan elemen berikutnya */
    margin-left: 10px; /* Posisikan subjudul di sebelah kiri */
}

/* Tambahkan ini ke dokter.css atau CSS Anda yang sesuai */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
